.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
} */
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  transition: all 0.5s;
}
.swiper-pagination-bullet:hover {
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: red;
}
:root {
  --swiper-theme-color: grey;
  font-weight: bold;
}

.logo-partner {
  transition: all 0.5s;
}
.logo-partner:hover {
  filter: grayscale(95%);
}

#movieItem img {
  transition: all 0.5s;
}

#movieItem:hover img {
  filter: brightness(60%);
}
#movieItem:hover .fa-caret-right {
  opacity: 1 !important;
}
.fa-caret-right {
  transition: all 0.5s;
}
.fa-caret-right:hover {
  filter: brightness(60%);
}
#movieItem:hover #moreDetail {
  display: inline-block !important;
  margin-top: 5%;
}
#movieItem:hover #movieText {
  display: none;
}

#playBannerButton {
  transition: all 0.5s;
}
#playBannerButton:hover {
  opacity: 1 !important;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
* {
  scroll-behavior: smooth;
}

.card .truncate {
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.card .truncate:hover {
  text-overflow: clip;
  width: auto;
  white-space: normal;
}

.ant-menu:after,
.ant-menu:before {
  display: none !important;
  /* content: ""; */
}

.ant-menu-horizontal {
  border: none !important;
}
.ant-layout-sider-zero-width-trigger {
  top: 12px !important;
}

.ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 5px !important;
}
@media screen and (min-width: 640px) {
  #modalTrailer {
    width: 640px !important;
    height: 360px !important;
  }
  .ant-tabs-left
    > .ant-tabs-content-holder
    > .ant-tabs-content
    > .ant-tabs-tabpane {
    padding-left: 24px !important;
  }
}
